@model plattform.user_tbl

@{
    ViewBag.Title = "UserView";
}
<h1>Mathe-Nachhilfe-Plattform</h1>
<a id="Logout">@Html.ActionLink("Logout", "Index", "Login")</a>
<h2>User</h2>
<style>
    #Logout {
        margin-left: 1000px;
    }
</style>
<div>
    <div class="img">

        <img src="~/image/undraw_Work_time_re_hdyv.svg" />
    </div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vorname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vorname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nachname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nachname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
